run = "python3 DailyReport/app.py"
modules = ["python-3.11"]

[[ports]]
localPort = 8000
externalPort = 80

[nix]
packages = ["freetype", "gitFull", "glibcLocales", "google-cloud-sdk", "mailutils", "nano", "playwright-driver", "zulu"]

[agent]
expertMode = true
